body{
    zoom:90%;
    font-family: "Poppins", serif;
    background-color: rgb(178, 178, 178);
}
.head{
    background-color: rgb(31, 31, 31);
    color: white;
    animation: fadein 0.5s;
}
.btn{
    animation: fadein 1s;
}
.alert{
    animation: fadein 1s;
}
button:focus{
    outline: none;
    border: none;
}
@keyframes fadein{
    0%{opacity:0}
    100%{opacity: 100%;}
}